

 body{
  text-align: center;
  background: rgb(4, 9, 26);
  color: #fff;
  place-items: center;
}

body2 {
   font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 420px;
  background: rgb(38, 39, 43);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container header{ /* n mexe com a box*/
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.container form{  /* n mexe com a box*/
  margin: 20px 5px 10px 5px;
}

form .field{  /* n mexe com a box*/
  height: 45px;
  width: 100%;
  display: flex;
}

form .field input{  /* n mexe com a box*/
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
}

form .field input:focus{  /* n mexe com a box*/
  border: 2px solid #6c63ff;
  box-shadow: inset 0 0 3px #7c76f3;
}

form .field .showBtn{  /* n mexe com a box*/
  position: absolute;
  right: 36%;
  top: 61.2%;
  transform: translateY(-45%);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color:rgb(0, 0, 0);
  display: none;
   font-family: Arial, Helvetica, sans-serif;
}

form .indicator{ /* n mexe com a box*/
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  display: none;
}

form .indicator span{ /* n mexe com a box*/
  width: 100%;
  height: 100%;
  background: lightgrey;
  border-radius: 5px;
  position: relative;
}

form .indicator span.medio{ /* n mexe com a box*/
  margin: 0 3px;
}

form .indicator span::before{ /* n mexe com a box*/
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6c63ff;
  border-radius: 5px;
}

form .indicator span.active.fraco::before{ /* n mexe com a box*/
  background-color: #ff4757;
}

form .indicator span.active.medio::before{ /* n mexe com a box*/
  background-color: orange;
}

form .indicator span.active.forte::before{ /* n mexe com a box*/
  background-color: #23ad5c;
}

form .text{ /* n mexe com a box*/
  font-size: 20px;
  font-weight: 500;
  margin-bottom: -10px;
  display:none;
}

form .text.fraco{ /* n mexe com a box*/
  color:#ff4757;
}

form .text.medio{ /* n mexe com a box*/
  color:orange;
}

form .text.forte{ /* n mexe com a box*/
  color:#23ad5c;
}

nav a:hover {
    color: rgb(253, 253, 253);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

ul img {
      width: 45px;
    height: 45px;
    border-radius: 20%;
    border: 2px solid rgb(251, 250, 252);
}

a {
    color: aquamarine;
    text-decoration: none;
}

.contai {
    padding: 0px 100px;
}

header2 h1 {
    color: aquamarine;
    font-size: 50px;  
    height: 50px; 
  
}

header2 main section p {
     font-size: 20px;
    height: 20px;
    color: gray;
}

header2 main section2 p {
    font-size: 20px;
    color: gray;
    height: 40px;
}

.dicas-container {
  background: linear-gradient(145deg, #0a1a2f, #0e223a); /* leve gradiente azul escuro */
  border-radius: 12px;
  padding: 25px 35px;
  max-width: 500px; /* tamanho da box */
  margin: 50px auto; /* centraliza horizontalmente */
  color: #dbe9ff;
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.1);
  border: 1px solid  #d9e2ed;
}

.dicas-container h2 {
  color: #2a76ff; /* azul mais forte */
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.dicas-container ul {
  list-style-type: disc;
  flex-direction: column;
  gap: 18px; 
  margin-left: 20px;
}

.dicas-container li {
  margin: 8px 0;
  font-size: 20px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

